select.language-selector {
  border: none;
  appearance: none;
  background: none;
}

select.language-selector::selection {
  border: none;
  appearance: none;
  background: none;
}

.language-selector-container {
  padding: 0 !important;
  margin: 0;
  overflow-x: hidden;
  width: fit-content;
}

/* In desktop the language selector is inside the footer bar */

#map-footer-bar .language-selector {
  padding: var(--p1);
}

/* In mobile, the language selector is inside the sidebar */

#sidebar .language-selector-container {
  grid-column: 3;
  justify-self: end;
}

#sidebar .language-selector {
  min-width: unset;
  font-size: 1em;
  width: 1em;
}
